# Django Secret Key
DJANGO_SECRET_KEY=${DJANGO_SECRET_KEY}
# Djangoのホスト先を許可
DJANGO_ALLOWED_HOSTS=${DJANGO_ALLOWED_HOSTS}
# DEBUG=1はdevのみ
DEBUG=${DEBUG}
# localのMySQLの設定
DATABASE_HOST=${DATABASE_HOST}
DATABASE_NAME=${DATABASE_NAME}
DATABASE_USER=${DATABASE_USER}
DATABASE_PASSWORD=${DATABASE_PASSWORD}
DATABASE_PORT=${DATABASE_PORT}
MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}